.hero--primary {
  box-shadow: 0 0 20px inset var(--box-shadow-color);
  border-bottom: 1px solid var(--border-color-darkgrey);
  background-color: var(--background-color-darkest);
}

.heroBanner {
  padding: 0;
}

.feature-card {
  background-color: var(--background-color-dark);
  height: 100%;
  border-top: 1px solid var(--border-color-darkgrey);

  /* For consistent spacing of all lines in the container */
  padding: var(--ifm-paragraph-margin-bottom);
}

.banner-action-container {
  width: 100%;
}

.hero__title {
  font-size: var(--font-size-largest);
}

.hero__subtitle {
  font-size: var(--font-size-large);
}
